.title {
  @include mainFontProperties;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $textColor;
  margin-top: 36px;
  text-transform: uppercase;
}

.content {
  display: grid;
  @include mainFontProperties;

  &__section {
    img {
      margin-top: 28px;
    }
  }

  &__section--title {
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: $textColor;
    margin-top: 11px;
  }

  &__section--subtitle {
    font-size: 11px;
    line-height: 20px;
    color: #7c7c7c;
  }

  &__section--text {
    display: none;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
  }
}

.active {
  display: none;
}
