.footer {
  background-color: #000;
  @include mainFontProperties;
  text-align: center;
  border-top: 1px solid transparent;
  margin-top: 42px;
  padding-bottom: 47px;

  &__title {
    font-size: 16px;
    line-height: 22px;
    color: #fefefe;
    text-transform: uppercase;
    margin-top: 38px;
  }

  &__text {
    font-size: 16px;
    line-height: 28px;
    color: #b9b9b9;
    margin-top: 8px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    height: 34px;
    margin-top: 26px;

    &--rss {
      @include iconProperties;
      background-image: url("./img/RSS.png");
    }

    &--facebook {
      @include iconProperties;
      background-image: url("./img/Facebook.png");
    }

    &--twitter {
      @include iconProperties;
      background-image: url("./img/Twitter.png");
    }

    &--dribble {
      @include iconProperties;
      background-image: url("./img/Dribbble.png");
    }

    &--pinterest {
      @include iconProperties;
      background-image: url("./img/Pinterest.png");
    }
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;
    margin-top: 25px;

    span {
      display: block;
    }
  }
}

.link {
  text-decoration: none;
  color: #b9b9b9;
}
