.container {
  position: relative;
  border-top: 1px solid transparent;
}

.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 44px;
  height: 37px;
  background-color: #000;
  top: 23px;
  right: 0;
  cursor: pointer;

  &__line {
    @include btnLine;
    margin-top: 17px;
  }

  &__line::before {
    content: "";
    position: absolute;
    @include btnLine;
    transform: translateY(-4px);
  }

  &__line::after {
    content: "";
    position: absolute;
    @include btnLine;
    transform: translateY(4px);
  }
}

.menu-btn.open .menu-btn__line::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn__line::after {
  transform: rotate(-45deg);
}

.menu-btn.open .menu-btn__line {
  background-color: transparent;
}

.nav-list {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 182px;
  height: 208px;
  background-color: #f5f5f5;
  &__item {
    display: inline-block;
    @include mainFontProperties;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    padding-left: 12px;

    .link:hover {
      color: #57a4a4;
    }
  }
}

.nav-list.open {
  display: flex;
  position: absolute;
  top: 60px;
  right: 0;
}

.bg-image {
  width: 100%;
  height: auto;
  margin-top: 83px;
}
