@media screen and (min-width: 768px) {
  .active {
    display: inline-block;
  }

  .content {
    &__section {
      display: flex;

      .wraper {
        margin-top: 17px;
        margin-left: 20px;
      }
    }

    &__section--text {
      display: block;
    }
  }

  .menu-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: center;
    background-color: transparent;
    margin-top: 41px;
    &__item {
      padding-left: 34px;
    }
  }

  .bg-image {
    margin-top: 43px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
