@mixin iconProperties {
  display: block;
  width: 34px;
  height: inherit;
  margin-right: 6px;
}

@mixin btnLine {
  width: 17px;
  height: 2px;
  background-color: #ffffff;
}

@mixin mainFontProperties {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
}
